<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="gateway.giropay.merchantId"/>
        <parameter key="gateway.giropay.projectId"/>
        <parameter key="gateway.giropay.secret"/>
    </parameters>

    <services>
        <service id="pcHttpClient" class="Guzzle\Http\Client">
        </service>

        <service id="pcGiropayRequestGenerator" class="PegasusCommerce\Vendor\Giropay\Service\Payment\GiropayRequestGeneratorImpl">
        </service>

        <service id="pcGiropayResponseGenerator" class="PegasusCommerce\Vendor\Giropay\Service\Payment\GiropayResponseGeneratorImpl">
        </service>

        <service id="pcGiropayPaymentService" class="PegasusCommerce\Vendor\Giropay\Service\Payment\GiropayPaymentServiceImpl">
            <property name="httpClient" type="service" id="pcHttpClient"/>
            <property name="requestGenerator" type="service" id="pcGiropayRequestGenerator"/>
            <property name="responseGenerator" type="service" id="pcGiropayResponseGenerator"/>
        </service>

        <service id="paymentGatewayConfigurationServiceProvider" class="PegasusCommerce\Common\Payment\Service\PaymentGatewayConfigurationServiceProviderImpl">
            <call method="setGatewayConfigurationServices">
                <argument type="collection">
                    <argument type="service" id="pcGiropayConfigurationService"/>
                </argument>
            </call>
        </service>

        <service id="pcGiropayConfiguration" class="PegasusCommerce\Payment\Service\Gateway\GiropayConfigurationImpl">
            <property name="merchantId">%gateway.giropay.merchantId%</property>
            <property name="projectId">%gateway.giropay.projectId%</property>
            <property name="secret">%gateway.giropay.secret%</property>
        </service>

        <service id="pcGiropayHostedService" class="PegasusCommerce\Payment\Service\Gateway\GiropayHostedServiceImpl">
            <property name="configuration" type="service" id="pcGiropayConfiguration"/>
            <property name="giropayPaymentService" type="service" id="pcGiropayPaymentService"/>

        </service>

        <service id="pcGiropayRollbackService" class="PegasusCommerce\Payment\Service\Gateway\GiropayRollbackServiceImpl">
            <property name="configuration" type="service" id="pcGiropayConfiguration"/>
        </service>

        <service id="pcGiropayFraudService" class="PegasusCommerce\Payment\Service\Gateway\GiropayFraudServiceImpl">
            <property name="configuration" type="service" id="pcGiropayConfiguration"/>
            <property name="httpClient" type="service" id="pcHttpClient"/>
        </service>

        <service id="pcGiropayConfigurationService" class="PegasusCommerce\Payment\Service\Gateway\GiropayConfigurationServiceImpl">
            <property name="configuration" type="service" id="pcGiropayConfiguration"/>
            <property name="hostedService" type="service" id="pcGiropayHostedService"/>
            <property name="fraudService" type="service" id="pcGiropayFraudService"/>
        </service>
    </services>
</container>