<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="gateway.giropay.merchantId">3609575</parameter>
        <parameter key="gateway.giropay.projectId">8797</parameter>
        <parameter key="gateway.giropay.secret">fStSrJZVfQ</parameter>
    </parameters>

    <services>
        <service id="paymentGatewayConfigurationServiceProvider" class="PegasusCommerce\Common\Payment\Service\PaymentGatewayConfigurationServiceProviderImpl">
            <call method="setGatewayConfigurationServices">
                <argument type="collection">
                    <argument type="service" id="pcGiropayConfigurationService"/>
                </argument>
            </call>
        </service>

        <service id="pcGiropayConfiguration" class="PegasusCommerce\Payment\Service\Gateway\GiropayConfigurationImpl">
            <property name="merchantId">%gateway.giropay.merchantId%</property>
            <property name="projectId">%gateway.giropay.projectId%</property>
            <property name="secret">%gateway.giropay.secret%</property>
        </service>

        <service id="pcGiropayHostedService" class="PegasusCommerce\Payment\Service\Gateway\GiropayHostedServiceImpl"/>
        <service id="pcGiropayRollbackService" class="PegasusCommerce\Payment\Service\Gateway\GiropayRollbackServiceImpl"/>

        <service id="pcGiropayConfigurationService" class="PegasusCommerce\Payment\Service\Gateway\GiropayConfigurationServiceImpl">
            <property name="configuration" type="service" id="pcGiropayConfiguration"/>
        </service>
    </services>
</container>